/* Light mode colors (default) */
:root {
  --bg-color: white;
  --text-color: black;
  --primary-color: rgba(66, 4, 66, 0.856);
}

/* Dark mode colors */
[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #eee;
  --primary-color: #bb86fc;
}

*{
    margin: 0;
    padding: 0;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 30px 0px;
  font-family: 'Josefin Sans', Sans Serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.logo{
    margin-right: 50px;
    margin-left: 11px;
}

.Nav-bar{
    display: flex;
    gap: 25px;
    margin-left: -120px;
    font-size: 20px;

}

.Serv {
  color: var(--primary-color);
}

#toggle-theme{
    margin-left: -280px;
    margin-right: 130px;
    border:rgba(66, 4, 66, 0.856); 
    font-size: 20px;
    background-color: white; 
    border-radius: 30px; 
    padding: 0px 1px 2px 2px;
}

.text1{
    font-size: 35px;
}

.para1{
    font-size: 20px;
    width: 45%;
}

.button1{
    border: none;
    padding: 10px ;
    background-color: var(--primary-color);
    color: var(--text-color);
}


.button2{
    background-color: white;
    border-color:rgba(66, 4, 66, 0.856);  
    color: black;
    padding: 7px;
    border-width: 3px 5px 3px 5px;
    outline: none;
    margin-left: 20px;
    margin-top: 20px;
    
}

.line{
    display: flex;
    align-items: center;
    margin:  25px 0 0 0;
    gap: 10px;

}

.line:hover{
    color: rgba(66, 4, 66, 0.856); 
    cursor: pointer;
}

.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border: 2px solid black;
    border-radius: 50%;
    
}

.icon-circle i {
    color: black;
    font-size: 10px;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-left: 30px;

}

.pictures{
    width: 50%;
    display: flex;
    margin-left: 460px;
    margin-top: -300px;   
    
}

.pic{
    margin-left: 15px;
    margin-bottom: 50px;
}

.pic1{
    margin-left: 15px;
    margin-top: 70px;
}

.para2{
    padding-top: 70px;
    margin-left: 28px;
}

.second-sec {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-sec-main {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.second-sec-left,
.second-sec-right {
    width: 48%;
}

.paragraph {
    margin: 0 0 16px 0;
    width: 90%;
}

.paragraph2 {
    margin: 0 0 20px 18px;
    width: 80%;
}

.sec-sec-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
}

.sec-sec-1st {
    width: 48%;
    display: flex;
    align-items: start;
}

.sec-sec-2nd {
    width: 48%;
    display: flex;
    align-items: end;
}

.sec-sec-image {
    width: 100%;
}

.img {
    width: 90%;
    height: 47vh;
    margin-bottom: 15px;
}

.find-more {
    margin-left: 18px;
    background-color:rgba(66, 4, 66, 0.856); 
    border: none;
    color: white;
    padding: 10px
}


.para3{
    margin-left: 28px;
}

.third-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    margin-top: 30px;
    margin-bottom: 100px;
}

.third-sec-main {
    width: 70%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third-sec-left {
    background-image: url(../images/wedding-dance.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
}

.arrow {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.p {
    padding-left: 15px;
}

.p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.third-sec-middle {
    background-color: #742296;
    padding: 15px;
    height: 67vh;
    width: 30%;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.third-sec-right {
    background-image: url(../images/blank.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
}

.para4{
    margin-left: 27px;
}

.fourth-section { 
    width: 100%; 
    height: 80vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
 
.inner-div { 
    width: 60%; 
    height: 80vh; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding-top: 50px; 
} 
 
.fourth-sec-right { 
    width: 45%; 
    height: 55vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: end; 
} 
 
.fourth-sec-left { 
    width: 45%; 
    height: 55vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: start; 
} 
.testimony1, 
.testimony2 { 
width: 90%; 
height: 90vh; 
object-fit: contain; 
} 
h5 { 
margin: 20px 0; 
} 
.heading { 
margin-bottom: 20px; 
} 
.information { 
width: 80%; 
} 
.section { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding-top: 70px; 
    margin-bottom: 20px; 
} 
 
.instagram { 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
} 
 
.insta { 
    font-family: 'Great Vibes', cursive; 
    font-size: 30px; 
    color: #000; 
} 
 
.fifth-section { 
    width: 80%; 
    height: 60vh; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding-bottom: 70px; 
    padding-top: 30px; 
} 
 
.fifth-image1, 
.fifth-image2, 
.fifth-image3, 
.fifth-image4, 
.fifth-image5, 
.fifth-image6 { 
    width: 100%; 
    height: 60vh; 
} 
 
.fifth-image1, 
.fifth-image3, 
.fifth-image5 { 
    display: flex; 
    justify-content: center; 
    align-items: start; 
} 
 
.fifth-image2, 
.fifth-image4, 
.fifth-image6 { 
    display: flex; 
    justify-content: center; 
    align-items: end; 
} 
 
.fifth-image { 
    width: 93%; 
    height: 52vh; 
    object-fit: contain; 
} 
 
.hash { 
    font-weight: bold; 
    margin-bottom: 10px; 
    font-size: 18px; 
} 
 
.button { 
    background-color: #742296; 
    color: white; 
    border: none; 
    border: 5px solid #742296; 
    padding: 5px 10px; 
    font-size: 18px; 
    transition: opacity 0.15s, color 1s, background-color 1s, border 1s; 
    margin: 0; 
} 
 
 
 
 
 
 
 
 
* { 
    margin: 0; 
} 
 
body { 
    padding: 0 30px 30px 30px; 
    font-family: 'Josefin Sans', Sans Serif; 
    background-color: var(--bg-color); 
    color: var(--text-color); 
    transition: background-color 0.3s ease, color 0.3s ease; 
}  
 
footer { 
    background-color: #742296; 
    color: white; 
    display: flex; 
    justify-content: space-between; 
    align-items: start; 
    padding: 30px 100px; 
    font-size: 20px; 
 

} 
 
.first { 
    display: flex; 
    flex-direction: column; 
    justify-content: start; 
    align-items: start; 
} 
 
.footer-img { 
    width: 30%; 
    margin-bottom: 10px; 
} 
 
.second { 
    display: flex; 
    flex-direction: column; 
    justify-content: start; 
    align-items: start; 
    text-align: start; 
} 
 
.third { 
    display: flex; 
    flex-direction: column; 
    justify-content: start; 
    align-items: start; 
    text-align: start; 
} 
 
.fourth { 
    display: flex; 
    flex-direction: column; 
    justify-content: start; 
    align-items: start; 
    text-align: start; 
} 
 
.lines, 
.lines1 { 
    margin: 6px 0; 
} 
 
.lines1 { 
    margin-left: 26px; 
} 
 
.topic { 
    margin: 6px 0; 
    text-decoration: underline; 
} 
 
.social-icons { 
    display: flex; 
    justify-content: center; 
    gap: 15px;  
    margin-top: 10px; 
} 
 
.social-icons i { 
    color: #fff; 
    font-size: 26px; 
    cursor: pointer; 
} 
 
.lines i { 
    margin-right: 8px; 
    font-size: 16px; 
    color: #fff; 
}


